@tailwind base;
@tailwind components;
@tailwind utilities;



.raleway-bold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* .text-gradient{
  -webkit-text-fill-color: transparent;
} */
